.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00eeff;
  width: 0;
  max-width: max-content;
  animation: typing 2s steps(18,end) infinite alternate, blink .4s step-end infinite;
}

@keyframes typing {
  from { width: 0ch; } 
  to { width: 18ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
